<div class="text-center">
<img src="https://robohash.org/<%= @robot.name %>.png">
<h3 style="font-weight: lighter"><a href="/robots/<%= @robot.id %>"><%= @robot.name %></a></h3>
<p><%= @robot.city %>, <%= @robot.state %></p>
<p><%= @robot.department %> department</p>
</div>
